# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
calendar-event-generator

# Credentials and Secrets
credentials.json
token.json
client_secret.json
*.ics
.env

# Go workspace
go.work
go.work.sum

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
